*.iml
.gradle
/local.properties
/.DS_Store
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
/.idea/migrations.xml

/build
/captures
.externalNativeBuild
.cxx
**/build/

# .idea/ 디렉토리 내의 무시할 파일들 추가
.idea/*.xml
.idea/.gitignore

*.log
*.jks
*.keystore

#key값

